/* Google Fonts: 
  sans: Nunito Sans
  serif: Lora, 
  mono: Space Mono
*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-orange-100 text-gray-900 font-sans;
}
