---
import SocialsButton from "../components/SocialsButton.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<style>
  #rotating-box {
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  /* Animation for border rotation */
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  /* Rotating border effect */
  #rotating-box::before {
    content: "";
    position: absolute;
    z-index: -2;
    /* left: -10px; */
    /* top: -10px; */
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    background-color: #fc68c3;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    background-image: linear-gradient(45deg, #fc68c3, #6056cf);
    animation: rotate 4s linear infinite;
    border-radius: 10px;
  }

  /* White inner box */
  #rotating-box::after {
    content: "";
    position: absolute;
    z-index: -1;
    /* left: 5px; */
    /* top: 5px; */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: white;
    border-radius: 10px;
  }

  #rotate-box:hover {
    transform: scale(1.5);
  }
</style>

<PageLayout>
  <div class="mx-auto max-w-4xl">
    <!-- Profile Card -->
    <div
      class="flex flex-col md:gap-3 md:flex-row items-center md:items-start pt-4 pb-6 px-6 bg-white shadow-lg rounded-lg"
    >
      <!-- Profile pic -->
      <div
        class="h-32 w-32 md:h-44 md:w-44 rounded-full bg-gradient-to-br from-indigo-600 to-pink-200 border-4 border-white overflow-hidden shrink-0 mb-4 md:mb-0"
      >
        <img src="/me.png" alt="My Photo" class="object-cover rounded-full" />
      </div>

      <!-- Profile para -->
      <div
        class="flex flex-col gap-2 justify-center my-auto text-sm md:text-lg text-justify md:text-left"
      >
        <p>
          Hello I'm <strong class="px-0.5">Kumar Deshmukh,</strong> a web and mobile
          developer from <a
            target="_blank"
            href="https://maps.app.goo.gl/3G6y87Ud6NqGNMrW7"
            class="underline decoration-dotted decoration-pink-600 hover:bg-pink-600 hover:text-white px-0.5"
            >Pune, India</a
          >
        </p>
        <p class="font-light text-slate-600">
          I enjoy exploring different technologies, working on interesting
          projects, and building practical solutions. When I'm not coding,
          you'll find me gaming or watching a cinematic film. Let's build
          something awesome together!
        </p>
      </div>
    </div>

    <br />

    <div class="flex justify-between items-center">
      <!-- Skills -->
      <div class="pt-2 font-mono font-bold text-xl">SKILLS:</div>

      <!-- Resume link -->
      <a href="/resume/Kumar_Deshmukh_resume.pdf" target="_blank">
        <div
          id="rotating-box"
          class="hover:animate-bounce delay-200 duration-500"
        >
          <div
            class="text-md md:text-lg text-slate-700 font-sans font-bold px-4 py-2"
          >
            Resume
          </div>
        </div>
      </a>
    </div>

    <table class="font-mono my-3">
      <thead> </thead>
      <tbody>
        <tr>
          <td
            class="border-r-2 border-b-2 border-indigo-500 text-right font-semibold px-3"
            >Frontend
          </td>
          <td class="border-l-2 border-b-2 border-indigo-500 text-sm p-2"
            >React, Next.js, Flutter, Tailwind, Astro, HTML, CSS</td
          >
        </tr>
        <tr class="border-none">
          <td
            class="border-r-2 border-b-2 border-indigo-500 text-right font-semibold px-3"
            >Backend</td
          >
          <td class="border-l-2 border-b-2 border-indigo-500 text-sm p-2"
            >Node.js, Express, Prisma, MongoDB, PostgreSQL</td
          >
        </tr>
        <tr class="border-none">
          <td class="border-r-2 border-indigo-500 text-right font-semibold px-3"
            >Misc.</td
          >
          <td class="border-l-2 border-indigo-500 text-sm p-2"
            >TypeScript, JavaScript, C++, Java, Python, Bash, Git</td
          >
        </tr>
      </tbody>
    </table>
    <br />
    <!-- Contact -->
    <h2 class="pt-5 pb-2 font-mono font-bold text-xl md:text-2xl">
      Let's connect:
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-3">
      <SocialsButton
        title="GitHub"
        logo="github-mark-white.svg"
        colorClass="bg-slate-700 text-white"
        url="https://github.com/datkumar"
      />
      <SocialsButton
        title="Email"
        logo="gmail.svg"
        colorClass="bg-white"
        url="mailto:contact.kumar.deshmukh@gmail.com"
      />
      <SocialsButton
        title="Twitter"
        logo="twitter.svg"
        colorClass="text-white bg-black"
        url="https://x.com/kafkaesql"
      />
      <SocialsButton
        title="LinkedIn"
        logo="linkedin.svg"
        colorClass="text-white bg-blue-600"
        url="https://www.linkedin.com/in/kumardeshmukh/"
      />
    </div>

    <br />
  </div>
</PageLayout>
