---
const resumeLink =
  "https://drive.google.com/file/d/1LPSL8czS8AbvHPzW_4LLPezwuH7A4cUP/view";
// "https://drive.google.com/file/d/1LPSL8czS8AbvHPzW_4LLPezwuH7A4cUP/view?usp=drive_link";
---

<style is:global>
  #rotating-box {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.8rem;
    border-radius: 10px;

    /* Correctly defined transition for a smooth effect */
    transition: transform 0.3s ease-in-out;
  }

  #rotating-box:hover {
    /* Zoom in slightly on hover */
    transform: scale(1.05);
    transition-duration: 0.3s ease-in-out;
  }

  /* Animation for border rotation */
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  /* Rotating border effect */
  #rotating-box::before {
    content: "";
    position: absolute;
    z-index: -2;
    /* left: -10px; */
    /* top: -10px; */
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    background-color: #cbd7f1;
    background-repeat: no-repeat;
    /* background-size: 50% 50%; */
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    background-image: linear-gradient(
      20deg,
      #8cd7dcfa,
      #102acff2,
      #8cd7dcfa,
      #102acff2
    );
    animation: rotate 4s linear infinite;
    border-radius: 10px;
  }

  /* White inner box */
  #rotating-box::after {
    content: "";
    position: absolute;
    z-index: -1;
    /* left: 5px; */
    /* top: 5px; */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: white;
    border-radius: 10px;
  }
</style>

<a href={resumeLink} target="_blank">
  <div id="rotating-box">
    <button
      class="text-md md:text-lg text-slate-700 font-sans font-bold px-4 py-2"
    >
      Resume
    </button>
  </div>
</a>
