---
const resumeLink =
  "https://drive.google.com/file/d/1LPSL8czS8AbvHPzW_4LLPezwuH7A4cUP/view";
---

<style is:global>
  #rotating-box {
    --shiny-border-width: 10px;
    --grad-color1: #4e38f6;
    --grad-color2: #fdd5ff;
    position: relative;
    /* isolation: isolate; Creates stacking context WITHOUT z-index */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.8rem;
    border-radius: 15px;
    /* Correctly defined transition for a smooth effect */
    transition: transform 0.3s ease-in-out;
  }

  #rotating-box:hover {
    /* On hover, zoom-in slightly and thicker border */
    --shiny-border-width: 12px;
    transform: scale(1.05);
    transition-duration: 0.3s ease-in-out;
    font-weight: 500;
  }

  /* Animation for border rotation */
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  /* Rotating border effect - BEHIND the button */
  #rotating-box::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    margin: -50px;
    background-color: #cbd7f1;
    background-repeat: no-repeat;
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;

    background-image: linear-gradient(
      20deg,
      var(--grad-color1),
      var(--grad-color2),
      var(--grad-color1)
    );
    animation: rotate 4s linear infinite;
    border-radius: 10px;
  }

  /* White inner box */
  #rotating-box::after {
    content: "";
    position: absolute;
    z-index: -1;
    margin: calc(var(--shiny-border-width) / 2);
    height: calc(100% - var(--shiny-border-width));
    width: calc(100% - var(--shiny-border-width));
    /* width: calc(100% - 8px);
    height: calc(100% - 8px); */
    background-color: white;
    border-radius: 10px;
  }
</style>

<a href={resumeLink} target="_blank">
  <!-- Ensure the button is above all its sibling pseudo-elements: -->
  <div id="rotating-box">
    <button class="text-lg md:text-xl text-indigo-600 font-serif px-4 py-2">
      Resume
    </button>
  </div>
</a>
