---

---

<style is:global>
  #rotating-box {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
  }

  /* Animation for border rotation */
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }

  /* Rotating border effect */
  #rotating-box::before {
    content: "";
    position: absolute;
    z-index: -2;
    /* left: -10px; */
    /* top: -10px; */
    width: calc(100% + 100px);
    height: calc(100% + 100px);
    background-color: #c3afe7;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position:
      0 0,
      100% 0,
      100% 100%,
      0 100%;
    background-image: linear-gradient(
      30deg,
      #f8398fb0,
      #1417cc,
      #f8398fb0,
      #1417cc
    );
    animation: rotate 4s linear infinite;
    border-radius: 10px;
  }

  /* White inner box */
  #rotating-box::after {
    content: "";
    position: absolute;
    z-index: -1;
    /* left: 5px; */
    /* top: 5px; */
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: white;
    border-radius: 10px;
  }

  #rotate-box:hover {
    transform: scale(1.5);
  }
</style>

<a href="/resume/Kumar_Deshmukh_resume.pdf" target="_blank">
  <div id="rotating-box" class="hover:animate-bounce delay-200 duration-500">
    <button
      class="text-md md:text-lg text-slate-700 font-sans font-bold px-4 py-2"
    >
      Resume
    </button>
  </div>
</a>
