---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h2
  class="text-xl font-serif font-black pl-3 py-3 my-3 text-cyan-900 bg-slate-50 border-teal-600 border-l-8 rounded-md"
>
  {title.toUpperCase()}
</h2>
